html{
    min-width: 1000px;
    min-height: 500px;
}

main-tabs section ul{
    margin: 15px 0 0 15px;
    padding: 5px;
}

team-tab add-team input[type="text"], develop-tab input[type="search"]{
    margin: 25px 0 0 35px;
}
team-tab add-team input.pull-right{
    float: none !important;
}

/*develop-tab */table{
    margin: 15px 0 30px 15px;
}
/*develop-tab */table td{
    border: 2px solid blue;
    padding: 5px 10px;
    height: 30px;
    width: 150px;
}
table th{
    padding: 5px 10px;
    height: 30px;
    border: 2px solid blue;
    background-color: #5bff09;
}
table tr:nth-child(2n+1){
    background-color: lightskyblue;
}
/*develop-tab */table td.small{
    width: 50px;
}

left-column {
    position: fixed;
    top: 10%;
    left: 75%;
    float: right;
    padding: 5px 10px;
    width: 20%;
    height: 80%;
    margin: 0 5px 10px 5px;
}

#accordion {
    margin-top: 30px;
}

ul {
    list-style: none;
}

.touch {
    cursor: pointer;
}
