<form name="addTeam" ng-submit="teams.addTeam()">
    <input ng-model="teams.project.name" type="text" placeholder="New Team">
    <input type="submit" class="pull-right" title="Add new team" value="+">
</form>