<input type="search" ng-model="store.search" placeholder="Search"/>
<div>
    <table>
        <tr>
            <th ng-click="sortField ='name'; reverse = !reverse">Name</th>
            <th ng-click="sortField ='speciality'; reverse = !reverse">Speciality</th>
            <th ng-click="sortField ='age'; reverse = !reverse">Age</th>
            <th ng-click="sortField ='level'; reverse = !reverse">Level</th>
            <th class="small">Add to team</th>
        </tr>
        <tr ng-repeat="developer in store.range() | filter:store.search | limitTo:store.limit | orderBy:sortField:reverse" page="{{store.page}}">
            <td ng-click="teams.addDeveloper(developer)" class="touch" title="Add developer to team">{{developer.name}}</td>
            <td>{{developer.speciality}}</td><td width="30px">{{developer.age}}</td><td>{{developer.level}}</td>
            <td class="small"><input type="button" class="pull-right" ng-click="teams.addDeveloper(developer)" value="+"></td>
        </tr>
    </table>

    <ul class="nav nav-pills">
        <li ng-class="{disabled: store.prevPageDisabled()}">
            <a href="" ng-click= "store.setPage(store.page - 1)">
                Previous Page
            </a>
        </li>
        <li ng-class="{disabled: store.nextPageDisabled()}">
            <a href="" ng-click= "store.setPage(store.page + 1)">
                Next Page
            </a>
        </li>
    </ul>
</div>