<add-team></add-team>

<div ng-controller="AccordionDemoCtrl" id="accordion">
    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="team in teams.projects" ng-click="project.setTeam(team)">
            <accordion-heading >
                <input type="button" class="pull-right" ng-click="teams.delTeam(team, $event)" title="Delete team" value="-">
                {{ team.name }}
            </accordion-heading>
            <p ng-repeat="developer in team.developers">{{developer.name}} <input type="button" class="pull-right" ng-click="teams.delDeveloper(developer, team)" title="Delete developer" value="-"></p>
        </accordion-group>
    </accordion>
</div>