
<section>
    <ul class="nav nav-pills">
        <li ng-class= "{active: tab.isSet('develop-tab')}">
            <a href="/#/develop-tab" ng-click= "tab.setTab('develop-tab')">
                Developer Tab
            </a>
        </li>
        <li ng-class= "{active: tab.isSet('team-tab')}">
            <a href="/#/team-tab" ng-click= "tab.setTab('team-tab')">
                Team Tab
            </a>
        </li>
    </ul>

<develop-tab ng-show="tab.isSet('develop-tab')" id="develop-tab"></develop-tab>

<team-tab ng-show="tab.isSet('team-tab')" id="team-tab"></team-tab>

</section>