<add-team></add-team>

<ul ng-repeat="team in teams.loop(teams.page) | limitTo:teams.limit" style="margin: 15px 0 30px 15px;">
    <li>
        <table>
            <tr>
                <th style="background-color: #ffffff; border: 0; width: 500px">
                    {{team.name}}
                </th>
                <td style="background-color: #ffffff; border: 0;">
                    <input type="button" ng-click="teams.delTeam(team, $event)" title="Delete team"  value="-">
                </td>
            </tr>
        </table>
        <table ng-hide="teams.isEmpty(team)">
            <tr>
                <th>Name</th>
                <th>Speciality</th>
                <th>Level</th>
                <th class="small">Delete from team</th>
            </tr>
            <tr ng-repeat="developer in team.developers">
                <td>{{developer.name}}</td>
                <td>{{developer.speciality}}</td>
                <td>{{developer.level}}</td>
                <td class="small"><input type="button" ng-click="teams.delDeveloper(developer, team)" value="-"></td>
            </tr>
        </table>

        <div ng-show="teams.isEmpty(team)">
            <ul>
                <li>There no developers in this team.</li>
                <li>Please add developers from developers tab.</li>
            </ul>
        </div>
    </li>
</ul>

<ul ng-hide="teams.nextPageDisabled()" class="nav nav-pills">
    <li>
        <a href="" ng-click= "teams.setPage(teams.page + 1)">
            More Teams ...
        </a>
    </li>
</ul>